
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER VIEW [dbo].[FILE4_11]
AS
SELECT     '1' AS type, NULL AS doc_id, code, DATE, f_bal AS sal, 0 AS pay, 'رصيد اول الموسم ' AS desca, mosm, 0 AS titem, 0 AS disc, 0 AS tax, NULL AS INV_NO
FROM         dbo.file4_22
UNION ALL
SELECT     '4' AS Expr1, dbo.FILE7_20H.DOC_NO, dbo.FILE7_20H.CODE, dbo.FILE7_20H.DATE, SUM(dbo.FILE7_20.TOTAL) 
                      + dbo.FILE7_20H.TAX - dbo.FILE7_20H.DISCOUNT AS SAL, 0 AS PAY, 'مشتريات' AS Expr2, dbo.FILE7_20H.MOSM, SUM(dbo.FILE7_20.TOTAL) AS Expr3, 
                      dbo.FILE7_20H.TAX, dbo.FILE7_20H.DISCOUNT, dbo.FILE7_20H.INV_NO
FROM         dbo.FILE7_20H INNER JOIN
                      dbo.FILE7_20 ON dbo.FILE7_20H.DOC_NO = dbo.FILE7_20.DOC_NO
GROUP BY dbo.FILE7_20H.DOC_NO, dbo.FILE7_20H.CODE, dbo.FILE7_20H.DATE, dbo.FILE7_20H.TAX, dbo.FILE7_20H.DISCOUNT, dbo.FILE7_20H.MOSM, 
                      dbo.FILE7_20H.INV_NO
UNION ALL
SELECT     '5' AS Expr1, FILE7_10H.doc_no, FILE7_10H.code, FILE7_10H.date, 0 AS SAL, SUM(dbo.FILE7_10.TOTAL) + FILE7_10H.TAX - FILE7_10H.DISCOUNT AS PAY, 
                      ' مرتجع ' + CASE WHEN FILE7_10H.REMARK IS NULL THEN ' ' ELSE FILE7_10H.REMARK END AS Expr2, FILE7_10H.MOSM, SUM(dbo.FILE7_10.TOTAL) * - 1 AS Expr3, 
                      FILE7_10H.TAX * - 1 AS Expr4, FILE7_10H.DISCOUNT * - 1 AS Expr5, FILE7_10H.inv_no
FROM         dbo.file7_10H AS FILE7_10H INNER JOIN
                      dbo.FILE7_10 ON FILE7_10H.doc_no = dbo.FILE7_10.DOC_NO
GROUP BY FILE7_10H.doc_no, FILE7_10H.code, FILE7_10H.date, FILE7_10H.TAX, FILE7_10H.DISCOUNT, FILE7_10H.MOSM, FILE7_10H.inv_no, FILE7_10H.REMARK
UNION ALL
SELECT     '7' AS Expr1, dbo.FILE8_20H.DOC_NO, dbo.FILE8_20.CODE, dbo.FILE8_20H.DATE, 0 AS SAL, dbo.FILE8_20.VALUE AS PAY, + CASE WHEN DESCA = '' OR
                      DESCA IS NULL THEN ' دفعة ' ELSE DESCA + ' ' END + CASE WHEN CHECK_NO IS NULL OR
                      CHECK_NO = '' THEN ' ' ELSE ' شيك رقم  ' + CHECK_NO + ' حق ' + CONVERT(VARCHAR(10), CHECK_DATE, 111) END + CASE WHEN SER_NO IS NULL OR
                      SER_NO = '' THEN ' ' ELSE ' إيصال رقم   ' + SER_NO END AS Expr2, dbo.FILE8_20.MOSM, 0 AS titem, 0 AS disc, 0 AS tax, dbo.FILE8_20.ser_no
FROM         dbo.FILE8_20H INNER JOIN
                      dbo.FILE8_20 ON dbo.FILE8_20H.DOC_NO = dbo.FILE8_20.DOC_NO
UNION ALL
SELECT     '8' AS Expr1, dbo.FILE8_40H.DOC_NO, dbo.FILE8_40.CODE, dbo.FILE8_40H.DATE, dbo.FILE8_40.VALUE AS SAL, 0 AS PAY, 'مقبوضات من الموردين' AS Expr2, 
                      dbo.FILE8_40.MOSM, 0 AS titem, 0 AS disc, 0 AS tax, dbo.FILE8_40.ser_no
FROM         dbo.FILE8_40H INNER JOIN
                      dbo.FILE8_40 ON dbo.FILE8_40H.DOC_NO = dbo.FILE8_40.DOC_NO
UNION ALL
SELECT     '9' AS Expr1, dbo.FILE8_00H.DOC_NO, dbo.FILE8_00.CODE, dbo.FILE8_00H.DATE, 0 AS SAL, dbo.FILE8_00.VALUE AS PAY, ' تسويات موردين' AS Expr2, 
                      dbo.FILE8_00.MOSM, 0 AS titem, 0 AS disc, 0 AS tax, NULL AS Expr3
FROM         dbo.FILE8_00H INNER JOIN
                      dbo.FILE8_00 ON dbo.FILE8_00H.DOC_NO = dbo.FILE8_00.DOC_NO
UNION ALL
SELECT     '10' AS Expr1, DOC_NO, SUP, DATE, 0 AS SAL, TOTAL AS PAY, ' خصم اوكازيون' AS Expr2, MOSM, 0 AS titem, 0 AS disc, 0 AS tax, NULL AS Expr3
FROM         dbo.FILE0_70H
WHERE     (CLOSED = 1)
UNION ALL
SELECT     'A' AS Expr1, SER_NO, code1, DATE_R, 0 AS SAL, VALUE AS PAY, 'اوراق دفع حق ' + CONVERT(VARCHAR(10), DATE_1, 111) + CASE WHEN date_3 IS NULL 
                      THEN ' غير مسددة ' ELSE ' مسددة ' END AS Expr2, MOSM, 0 AS titem, 0 AS disc, 0 AS tax, NULL AS Expr3
FROM         dbo.FILE5_21
WHERE     (NOT (code1 IS NULL)) AND (OLD = 0)
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

